<h1>Artists</h1>
<%= link_to('Add an Artist', new_artist_path) %>
<% @artists.each do |artist| %>
  <ul>
    <li>Artist: <%= link_to(artist.name, artist) %></li>
  </ul>
<% end %>

<form action="/events">
  <div class="label">
    <label for="keyword">Search</label>
    <input type="text" name="keyword" placeholder="Enter the artist" required>
    <button type="submit">view artist</button>
  </div>
</form>