<div class="hero-image">
  
</div>
<div>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, est libero laudantium ut voluptatum ipsa voluptatibus, omnis ea earum iste voluptates, eligendi maiores aspernatur. Rem beatae saepe nihil fugiat consequuntur.</p>
</div>