@font-family {
  font-family: url('Nexa Bold.otf');
  font-family: url('CODE Bold.otf')
}

* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  color: #000;
  margin: auto;
  // font-family: Helvetica, arial, sans-serif;
  // line-height: 150%;
}
h1, h2, h3 {
  font-family: 'Nexa Bold';
}
h1 {
  font-size: 50px;
  text-transform: uppercase;
  position: absolute;
  left: 40px;
  margin: 12px auto;
}
h1 a {
  color: #fff;
}
h2 {
  font-size: 34px;
  text-transform: uppercase;
  margin-bottom: 25px;
}

a {
  text-decoration: none;
}

.flex-container {
  max-width: 80%;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  margin: auto;
}

.artist {
  max-width: 60%;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
}

header, footer {
  display: inline-block;
  width: 100%;
  height: 15vh;
  background: #000;
  color: #fff;
  padding: 20px;
}
header > h1, nav {
  display: inline-block;
}

nav {
  position: absolute;
  right: 10px;
}

nav li {
  display: inline-block;
  padding: 10px;
}
a {
  text-decoration: none;
  color: #000;
}

.hero-image {
  background-attachment: fixed;
  height: 100vh;
}
nav a {
  color: #FF4242;
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Nexa Bold';
  padding-top: 3px;
}
nav a:hover {
  border-top: 2px solid #FF4242;
}

ul {
  padding: 0;
  list-style-type: none
}
img {
  border: 3px solid #000;
  max-height: 150px; 
}
.profile-images {
  margin-top: 130px;
    padding: 0 10px 0 30px;
  -webkit-flex: 1 6 35%;
          flex: 1 6 35%;
  -webkit-order: 2;
          order: 2;
}
.results-index {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 40px;
  -webkit-flex: 3 1 60%;
          flex: 3 1 60%;
  -webkit-order: 1;
          order: 1;
}
.thumb-container {
  margin: 20px;
}
.results-index a {
  text-transform: uppercase;
  color: #FF4242;
  font-weight: bold;
}

.results-index a:hover {
  border-bottom: 2px solid #FF4242;
  color: #000;
}

.search-events {
  margin: 20px auto;
  padding: 0 10px 0 30px;
  -webkit-flex: 1 6 35%;
          flex: 1 6 35%;
  -webkit-order: 2;
          order: 2;
}
.event, .review {
  margin-bottom: 40px;
}
.event > h3, .review > h3, {
  text-transform: uppercase;
  border-bottom: 2px solid #000;
}
.list-label {
  text-transform: uppercase;
  font-weight: bold;
  padding-right: 3px;
  text-indent: none;
}

.controls {
  margin: 40px auto;
}

.controls > ul > li {
  display: inline-block;
}
.fa {
  color: #FF4242;
  padding: 0 3px;
}

.content-container {
  padding: 20px;
}
.content-container > p {
  padding: 0 20px;
}
.form-container {
  max-width: 45%;
  margin: 30px auto;
  padding: 20px;
}
.signin-container {
  max-width: 45%;
  margin: auto;
  padding: 20px;
}
.signin-container form div {
  padding-top: 20px;
}
.form-container > form > div > label,
.signin-container > form > div > label
 {
  font-family: 'Nexa Bold';
  font-size: 20px;
}
.form-container form,
.signin-container form {
  margin: 20px auto;
  padding: 2.5em;
}
// FOOTER

.contact > ul > li {
  display: inline-block;
}
.contact a {
  color: #FF4242;
}
.contact a:hover {
  color: #fff;
}
.contact > ul {
  text-align: center;
}

.contact {
  position: absolute;
  left: 30px;
}
.credit {
  position: absolute;
  right: 30px;
}

.credit-details {
  display: inline-block;
  vertical-align: middle; 
}

input {
  display: inline-block;
  width: 100%;
  line-height: 150%;
  border: 1px solid #ccd6dd;
  border-radius: 3px;
}

input[type="submit"] {
  background-color: #FF4242;
  border: 1px solid #FF4242;
  text-transform: uppercase;
  font-weight: 600;
}

.signin-container > .btn-signup {
  background-color: #FF837E;
  border: 1px solid #FF837E;
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: 600;
  display: inline-block;
  width: 100%;
  line-height: 150%;
  margin: 5px auto;
  padding: 13px;
  color: #fff;
}
// @media only screen and (min-width: 480px) {

// }
// @media only screen and (min-width: 768px) {

// }
// @media only screen and (min-width: 1140px) {

// }
// @media print {
  
// }


