<h1>Reviews</h1>
<%= link_to('Add a new Review', new_review_path) %>
<% @reviews.each do |review| %>
<div class="review">
  <ul class="review-details">
      <li><%= review.title %></li>
  </ul>
  <div>
      <p>
        <%= review.content %>
      </p>
  </div>
</div>
<% end %>
