<h2>Reviews</h2>
<%= link_to('Add a new Review', new_review_path) %>
<% @reviews.each do |review| %>
  <div class="review-container">
    <h3><%= link_to review.title, review %></h3>
    <div class="review-body">
        <p>
          <%= review.content %>
        </p>
    </div>
  </div>
<% end %>
